.container {
  padding: var(--padding);
  display: flex;
  gap: var(--padding);
}

.emojiButton {
  border-radius: var(--border-radius);
  color: var(--color-text);
  cursor: pointer;
  padding: calc(var(--padding) / 1.5) var(--padding);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
  font-size: 1.3rem;
  position: relative;

  &:hover {
    background-color: var(--color-outline-variant);
  }
}

