.title {
  padding: var(--padding);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  place-items: center;
  gap: 3rem;
  max-height: 80dvh;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}