.button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  padding: calc(var(--padding) / 1.5) var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease-in-out;

  &:hover:not(:disabled) {
    opacity: var(--opacity);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-outline);
    color: var(--color-outline-variant);
  }

  &:not(:disabled) {
    .icon{
      animation: bounceRight .6s ease-in-out infinite;
    }
  }
}

.icon {
  margin-left: .5rem;
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(5px);
  }
}