.container {
  display: flex;
  padding: calc(var(--padding) / 2) var(--padding);
  background-color: var(--color-background-variant);
  color: var(--color-text-variant);

  h1, h2 {
    display: none;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  list-style: none;

  li {
    margin-left: calc(-1 * var(--avatar-small-size) / 2);

    &:first-child {
      margin-left: 0;
    }
  }
}