@import '../../assets/css/breakpoints.css';

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  list-style: none;

  li {
    margin-left: calc(-1 * var(--avatar-small-size) / 2);

    &:first-child {
      margin-left: 0;
    }
  }
  
  & + .title {
    border-top: solid 1px var(--color-outline-variant);
    padding-top: var(--padding);
    margin-top: var(--margin);
  }
}

.title {
  margin: var(--margin) 0;
  width: 100%;  

  small {
    color: var(--color-outline);
  }
}

@media (--medium-viewport) {
  .list {
    flex-direction: column;
    align-items: flex-start;

    li {
      margin-left: 0;
      margin-bottom: var(--margin);

      &:last-child {
        margin: 0;
      }
    }
  }
}