@import '../../components/Theme/breakpoints.css';

.container {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
}

@media (--medium-viewport) {
  .container {
    grid-template-columns: 150px 1fr;
  }
}