@import '../../components/Theme/breakpoints.css';

.container {
  height: 100dvh;
  background-image: url('../../assets/background-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  flex-direction: row-reverse;
}

@media (--medium-viewport) {
  .container {
    background-image: url('../../assets/background-desktop.svg');
    background-size: cover;
  }
}