@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Fira Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {  
  color: var(--color-text);
  background-color: var(--color-background);
  transition: all 300ms;
  height: 100dvh;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Customizes the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Customizes the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color-outline);
  border-radius: 10px; 
  border: 0; 
}

*::-webkit-scrollbar {
  width: 5px; 
  transition: width 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  opacity: var(--opacity);
}
