:root {
  --color-surface: #ffffff;
  --color-on-surface: #1f1f1f;
  --color-surface-variant: #f2f6fc;
  --color-on-surface-variant: #2d2f31;

  --color-success: #4CAF50;
  --color-danger: #F44336;
  --color-warning: #FFC107;
  
  --font-size: 1rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height: 1.2;
  --border-radius: .5rem;
  --padding: 1rem;
  --margin: 1rem;
  --max-width: 2100px;
  --opacity: .8;

  --avatar-small-size: 2rem;
  --avatar-medium-size: 2.5rem;
  --avatar-large-size: 3rem;
}