.light {
  --color-primary: #D0BCFF;
  --color-secondary: #E8DEF8;
  --on-color-secondary: #1D192B;
  --color-tertiary: #7d5260;
  --on-color-tertiary: #efb8c8;

  --color-background: var(--color-surface);
  --color-background-variant: var(--color-surface-variant);
  --color-text: var(--color-on-surface);
  --color-text-variant: var(--color-on-surface-variant);
  --color-message-box: var(--color-surface-variant);
  --color-message-current-user: #b9f6ca;

  --color-outline: #79747E;
  --color-outline-variant: #e1e3e1;
}
