.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 0 var(--padding);
  text-align: center;
  gap: .5rem;
}

.title {
  font-size: calc(var(--font-size) * 6);
  font-weight: var(--font-weight-bold);
}

.meme {
  font-size: calc(var(--font-size) * 2);
}
