@import '../Theme/breakpoints.css';

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding: var(--padding);
  }
}

.link {
  transition: color .3s ease-in-out;

  &:hover {
    opacity: var(--opacity);
  }

  a {
    font-size: calc(var(--font-size) * 1.5);
    color: var(--color-tertiary);
  }
}

@media (--medium-viewport) {
  .navigation {
    display: flex;
    justify-content: center;
  }

  .list {
    flex-direction: column;
  }
  
  .link {
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    a {
      color: var(--on-color-tertiary);
    }
  }
}