@import '../../assets/css/breakpoints.css';

.container {
  display: flex;
  padding: calc(var(--padding) / 2) var(--padding);
  background-color: var(--color-background-variant);
  color: var(--color-text-variant);
  width: 100dvw;
}

.content {
  overflow-x: auto;
  width: 100%;
}

.title {
  margin-right: var(--margin);
}

@media (--medium-viewport) {
  .container {
    padding: var(--padding);
    flex-direction: column;
    align-items: flex-start;
    width: 16dvw;
    min-width: 200px;
    max-width: 400px;
    border-radius: 0 2rem 0 0;
    height: 100dvh;
  }

  .title {
    margin-bottom: var(--margin);
  }
}