@import '../../../assets/css/breakpoints.css';

.title {
  display: none;
  padding: var(--padding);
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100dvh - 12rem);
}

@media (--medium-viewport) {
  .title {
    display: block;
  }

  .container {
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
  }
}