@import '../../../assets/css/breakpoints.css';

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100dvh - 12rem);
}

@media (--medium-viewport) {
  .container {
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
  }
}