:root {
  --color-surface: #ffffff;
  --color-on-surface: #1f1f1f;
  --color-surface-variant: #f2f6fc;
  --color-on-surface-variant: #2d2f31;
  --color-outline: #79747E;
  --color-outline-variant: #CAC4D0;
  --color-link: #7D5260;
  
  --font-size: 1rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height: 1.2;
  --border-radius: .5rem;
  --padding: 1rem;
  --margin: 1rem;
  --max-width: 2100px;
  --opacity: .8;
}