@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 1rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 300ms;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}