@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Fira Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {  
  --rt-color-dark: var(--color-text);
  --rt-color-white: var(--color-background);
  
  color: var(--color-text);
  background-color: var(--color-background);
  transition: all 300ms;
  height: 100dvh;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}