.light {
  --color-primary: #D0BCFF;
  --color-secondary: #E8DEF8;
  --on-color-secondary: #1D192B;
  --color-tertiary: #FFD8E4;
  --color-success: #c4eed0;
  --color-danger: #F9DEDC;

  --background-color: #FEF7FF;
  --text-color: #1D1B20;
}
