.light {
  --color-primary: #D0BCFF;
  --color-secondary: #E8DEF8;
  --on-color-secondary: #1D192B;
  --color-tertiary: #FFD8E4;
  --color-success: #c4eed0;
  --color-danger: #F9DEDC;

  --color-background: var(--color-surface);
  --color-background-variant: var(--color-surface-variant);
  --color-text: var(--color-on-surface);
  --color-text-variant: var(--color-on-surface-variant);
}
