@import '../Theme/breakpoints.css';

.container {
  background: var(--color-background);
  color: var(--color-text);
  width: 65dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--margin);
}

.content {
  margin-top: 2rem;
  width: 100dvw;
  max-width: 300px;
}

.h1 {
  margin-bottom: var(--margin);
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: calc(var(--margin) * 2);
}

.icon {
  margin-left: .5rem;
}

.animate {
  animation: bounceRight .6s ease-in-out infinite;
}

@media (--medium-viewport) {
  .container {
    width: 50dvw;
  }
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(5px);
  }
}