.small {
  --width: var(--avatar-small-size);
  --height: var(--avatar-small-size);
}

.medium {
  --width: var(--avatar-medium-size);
  --height: var(--avatar-medium-size);
}

.large {
  --width: var(--avatar-large-size);
  --height: var(--avatar-large-size);
}

.avatar {
  border-radius: 50%;
  background-color: var(--color-outline-variant);
  border: solid 2px var(--color-outline);
  display: inline-block;
  padding: .2rem;
  width: var(--width);
  height: var(--height);
  transition: opacity .3s ease-in-out;

  img {
    width: 100%;
  }

  &:hover {
    opacity: var(--opacity);
  }
}
