:root {
  --color-light: #FEF7FF;
  --color-dark: #1D1B20;
  --color-primary: #6750A4;
  --color-primary-light: #EADDFF;
  --color-secondary: #625B71;
  --color-secondary-light: #E8DEF8;
  --color-tertiary: #7D5260;
  --color-tertiary-light: #FFD8E4;
  --color-success: #0f5222;
  --color-success-light: #c4eed0;
  --color-danger: #7c0415;
  --color-danger-light: #F9DEDC;
}

.box {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.primary {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary-light);
  color: var(--color-secondary);
}

.tertiary {
  background-color: var(--color-tertiary-light);
  color: var(--color-tertiary);
}

.success {
  background-color: var(--color-success-light);
  color: var(--color-success);
}

.danger {
  background-color: var(--color-danger-light);
  color: var(--color-danger);
}


.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.dark .primary {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}

.dark .secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-light);
}

.dark .tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-light);
}

.dark .success {
  background-color: var(--color-success);
  color: var(--color-success-light);
}

.dark .danger {
  background-color: var(--color-danger);
  color: var(--color-danger-light);
}